<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 coinbase">
            <h3>Big Movers</h3>
        </div>  
        <div class="col-lg-4 top-performing-portfolios">
            <h3>Big Players</h3>
        </div>  
    </div>
</div>


